.content__table{
    position: relative;
height: 85%;
overflow: auto;
}
.table__option{
    display: flex;
   height: fit-content;
    outline: 1px solid #ccc;
    border-bottom: none;
    padding:2px 4px;
    background-color: #e0e0e0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.table__data{
    position: relative;
    height: fit-content;
    border-collapse: collapse;
    width: 100%;
}
.table__data tr:hover{
    background-color: #D7e9f4;
    cursor: pointer;
}
.table__data tr:first-child{
    background-color: #e0e0e0;
    position: sticky;
    top: 26px;
    left: 0;
}
.table__data td,th{
    height: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    font-weight: 500;
}
.table__text--search{
    position: relative;
    display: flex;
    margin-top: 6px;
    height: 24px;
}
.input__search{
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px;
}
.input__search:focus-visible{
    outline: none;
}
.input__search:focus{
    border-color: #0072BC;
}
.checkbox__col{
    text-align: center;
}
.row__input{
    border: none;
    text-align: right;
    width: 100%;
    background-color: transparent;
}
.row__selected{
    background-color:#D7e9f4 ;
}
.text__elipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    max-width: 300px;
}