.selectionbox{
    position: relative;
    display: flex;
    height: fit-content;
    width: fit-content;
}
.table__header--box{
     margin-top: 6px;
     height: 28px;
}
.select__input{
    border: 1px solid #ccc;
    padding: 5px;
}
.select__input:focus-visible{
    outline: none;
}
.select__input:focus{
    border-color: #0072BC;
}
.select_page{
    width: 54px;
    height: 22px;
    border: none;
    margin: 0 8px;
}
.dropdown_page_position{
    right: 11px!important;
    top: 2px!important;
}
.position__dropdown--9{
    right: 9px!important;
}
.fillter__position{
    width: 125px!important;
}
.paging__position{
 top: -112px!important;
}