.navbar{
    background-color:  #0072BC;
    width: 200px;
    /* height: 100%; */
}
.navbar__menu--item{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 14px;
    font-weight: 400;
    box-sizing: border-box;
    height: 42px;
    cursor: pointer;
    background-color: #0199FB;
}
