.alert{
    position: fixed;
    top: 32px;
    left: 38%;
    box-shadow: 3px 3px 3px #babec5;
    display: flex;
    width: 450px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #fff;
    z-index: 7;
}
.alert__content{
    display: flex;
    align-items: center;
}
.alert__content--tittle{
    display: flex;
    align-items: center;
}
.alert__tittle{
    margin-left: 8px;
    margin-right: 3px;
    font-weight: 600;
    
}
.success{
    color: #2ca01c;
}
.error{
    color: #E60000;
}